body {
	text-align: center;
}

#caja_principal {
	background: #00BFFF;
	width: 960px;
	margin: 15px auto;
	text-align: left;
	font: 16px arial;
}

#cabecera {
	background: #00005F;
	border: 1px solid #999999;
	padding: 5px;
	color: white;
	font: bold 16px arial;
}

h1 {
	font: bold 24px verdana, arial; 
}

h2 {
	font: bold 20px verdana, arial; 
}

h3 {
	font: bold 20px verdana, arial; 
}

#area_principal {
	float: left;
	width: 560px;
	margin: 20px;
}

#barra_lateral {
	float: left;
	width: 320px;
	margin: 20px 0px;
	padding: 20px;
	font: 12px verdana, arial;
	color: #004F00;
	text-align: left;
}

#pie {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}
